.l {
  width: var(--loader-l, 40px);
  height: var(--loader-l, 40px);
  margin: var(--loader-l-margin, 10px);
  border: 5px solid var(--brand, #518581);
}

.m {
  width: var(--loader-m, 32px);
  height: var(--loader-m, 32px);
  margin: var(--loader-m-margin, 8px);
  border: 4px solid var(--brand, #518581);
}

.s {
  width: var(--loader-s, 16px);
  height: var(--loader-s, 16px);
  margin: var(--loader-s-margin, 4px);
  border: 2px solid var(--brand, #518581);
}

.button-loader {
  border-color: #fff;
}

.loader {
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  transform: rotate(35deg);
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
