.input-container {
  display: flex;
  width: 100%;
  height: 52px;
  align-items: center;
  flex-shrink: 0;

  padding: var(--space-s, 14px) var(--space-xs, 12px);
  gap: var(--space-xxs, 8px);

  border-radius: var(--border-radius, 0px);
  border: 1px solid var(--input-border, #fff);
  background: var(--input-bg, #fff);
}

.input-field {
  border-radius: var(--border-radius, 0px);
  border: 1px solid var(--input-border, #fff);
  outline: 0;
  width: 100%;
}

.input-field:disabled {
  background: var(--input-bg-disabled, #fff);
}
.input-container:focus-within {
  border: 1px solid var(--input-border-focus, #518581);
}
