@use "@variables" as *;

.input-container {
  display: flex;
  width: 100%;
  height: 52px;
  align-items: center;

  padding: $space-s $space-xs;
  gap: $space-xxs;

  border-radius: $border-radius;
  border: 1px solid $input-border;
  background: $input-bg;
}

.input-field {
  border-radius: $border-radius;
  border: 1px solid $input-border;
  outline: 0;
  width: 100%;
}

.input-field:disabled {
  background: $input-bg-disabled;
}
.input-container:focus-within {
  border: 1px solid $input-border-focus;
}
