@use "@variables" as *;

.page-label {
  max-width: $label-max-width;

  padding: 0 $space-xs;
  display: flex;
  flex-direction: column;
  gap: $space-m;
  text-align: center;
  margin: $label-margin-top auto 0;
}
