@use "@variables" as *;
@use "@mixins" as *;

.button {
  padding: $space-s;
  min-height: 52px;
  border: 0;
  background: $brand;
  white-space: nowrap;
  color: $button-primary-text;
  transition: 0.3s ease padding;
  @include breakpoint(md) {
    padding: $space-s $space-l;
  }
}

.button:hover:enabled {
  background: $brand-hover;
}

.button:active:enabled {
  background: $brand-active;
}

.disabled {
  background: $button-primary-bg-disabled;
}
