@use "@variables" as *;

.text {
  border-radius: var(--border-radius, 0px);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 400;
}

.button {
  font-size: $font-size-button;
  line-height: $line-height-button;
  overflow: visible;
}

.title {
  font-size: $font-size-title;
  line-height: $line-height-title;
  font-weight: 700;
}

.p-20 {
  font-size: $font-size-p20;
  line-height: $line-height-p20;
}

.p-18 {
  font-size: $font-size-p18;
  line-height: $line-height-p18;
}

.p-16 {
  font-size: $font-size-p16;
  line-height: $line-height-p16;
}

.p-14 {
  font-size: $font-size-p14;
  line-height: $line-height-p14;
}

.primary {
  color: $text-primary;
}

.secondary {
  color: $text-secondary;
}

.accent {
  color: $text-accent;
}
