@use "@variables" as *;
@use "@mixins" as *;

.mini-cart {
  @include mq(lg) {
    position: relative;
  }
  &__total-items {
    position: absolute;
    right: $navbar-cart-total-position;
    top: $navbar-cart-total-position;

    color: white;

    &__text {
      background-color: $brand;
      border-radius: $navbar-cart-total-border-radius;
      padding: $navbar-cart-total-text-padding;
    }
  }

  &__container {
    overflow: hidden;
    position: absolute;
    top: $navbar-height;
    right: $mini-cart-right;
    @include mq(lg) {
      right: calc($navbar-svg-size/2);
      top: $navbar-height - $mini-cart-top;
      transform: translateX(50%);
    }

    width: $mini-cart-width;
    margin-top: -$mini-cart-fake-padding;
    padding-top: $mini-cart-fake-padding;

    &__checkout {
      margin-top: 0;
      top: 0;
    }

    &__items {
      border: $cart-card-line;
      border-top: none;
      max-height: $mini-cart-items-height;
      overflow-y: scroll;
      overscroll-behavior: none;
      scroll-behavior: smooth;
      &_item {
        @include mini-cart;
        border-top: $cart-card-line;
        border-bottom: none;
      }
    }
  }
}
