@use "@variables" as *;
@use "@mixins" as *;

.mini-cart {
  &:hover {
    .mini-cart__container {
      transition: max-height 0.3s ease-in;
      max-height: $mini-cart-container-height;
    }
  }

  &__total-items {
    position: absolute;
    right: $navbar-cart-total-position;
    top: $navbar-cart-total-position;

    color: white;

    &__text {
      background-color: $brand;
      border-radius: $navbar-cart-total-border-radius;
      padding: $navbar-cart-total-text-padding;
    }
  }

  &__container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    position: absolute;
    top: $navbar-height;
    right: $mini-cart-right;

    width: $mini-cart-width;
    margin-top: -$mini-cart-fake-padding;
    padding-top: $mini-cart-fake-padding;

    &__checkout {
      margin-top: 0;
      top: 0;
    }

    &__items {
      border: $cart-card-line;
      border-top: none;
      max-height: $mini-cart-items-height;
      overflow-y: scroll;
      overscroll-behavior: none;
      scroll-behavior: smooth;
      &_item {
        @include mini-cart;
        border-top: $cart-card-line;
        border-bottom: none;
      }
    }
  }
}
