@use "@variables" as *;
@use "@mixins" as *;

.product-page {
  margin: calc($space-back/2) auto;
  @include breakpoint(md) {
    margin: $space-back auto;
  }
  @include page;
}

.back {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: $space-xs;
}
