@use "@variables" as *;
@use "@mixins" as *;

.product-page {
  margin: calc($space-back/2) auto;
  @include breakpoint(md) {
    margin: $space-back auto;
  }
  @include page;
}

.back {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: $space-xs;
}

.product {
  margin-top: $space-l;
  display: flex;
  align-items: flex-start;
  width: 100%;
  gap: $space-xl;
  flex-direction: row;
  @media (max-width: 900px) {
    flex-direction: column;
    & > &__slider,
    &__info {
      min-width: 100%;
      min-height: 100%;
      max-height: unset;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $space-xl;
  }

  &__label {
    text-align: start;
    margin: 0px;
  }

  &__buy {
    display: flex;
    padding-top: $space-l;
    flex-direction: column;
    align-items: flex-start;
    gap: $space-xl;

    &__add-to-cart {
      border: $button-border;
      background-color: $button-add-to-cart-color;
      color: $button-add-to-cart-text;
      margin-left: $space-xl;
      &:hover:enabled {
        background: $brand-hover;
        color: $button-primary-text;
      }

      &:active:enabled {
        background: $brand-active;
        color: $button-primary-text;
      }
    }
  }
}
