@use "@variables" as *;
@use "@mixins" as *;

.product_page {
  margin: $space-back auto;
  @include page;
}

.back {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: $space-xs;
}

.product {
  margin-top: $space-l;
  display: flex;
  align-items: flex-start;
  width: 100%;
  gap: $space-xl;
  flex-direction: row;
  @media (max-width: 900px) {
    flex-direction: column;
    & > div {
      min-width: 100%;
      min-height: 100%;
      max-height: unset;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $space-xl;
  }

  &__buy {
    display: flex;
    padding-top: $space-l;
    flex-direction: column;
    align-items: flex-start;
    gap: $space-xl;

    .add_to_cart {
      border: $button-border;
      background-color: $button-add-to-cart-color;
      color: $button-add-to-cart-text;
      margin-left: $space-xl;
    }
  }
}

.related {
  margin-top: $space-xl;
  display: flex;
  flex-direction: column;
  gap: $space-l;
  &__text {
    font-size: 32px;
  }

  &__recs {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow: scroll;
    gap: $space-l;
    &__product {
      min-width: 360px;
    }
  }
}
