@use "@variables" as *;

.slider {
  max-width: 600px;
  max-height: 600px;

  &__left {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 100;
    width: $slider-button-size;
    height: $slider-button-size;
    border-radius: 50%;
    border: 0;
    background-color: $slider-button;
    margin: 0 $space-m;
    color: $slider-button-color;

    &:disabled {
      background-color: $slider-button-disabled;
    }
  }

  &__right {
    @extend .slider__left;
    right: 0;
  }
}
